<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/newUsers}" class="btn btn-outline-info">Agregar <i class="fas fa-plus"></i></a>
            <a th:href="@{/admin}" class="btn btn-outline-success">Atrás <i class="fas fa-chevron-left"></i></a>
            <!--<a th:href="@{/calc}" class="btn btn-outline-warning">Home</a>-->
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Login</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="usuarios, iter : ${usuarios}">
                    <th scope="col" th:text="${iter.index} + 1"></th>
                    <td th:text="${usuarios.name}"></td>
                    <td th:text="${usuarios.email}"></td>
                    <td th:text="${usuarios.login}"></td>
                    <td th:text="${usuarios.profile}"></td>
                    <td th:text="${usuarios.state}"></td>
                    <td>
                            <div class="btn-group" th:if="${usuarios.id} != 1">
                                <a th:href="@{/viewUsers(id=${usuarios.id})}" th:text="Editar" class="btn btn-success"></a>
                                <a th:href="@{/delete(idUsers=${usuarios.id})}" th:text="Eliminar" class="btn btn-danger"></a>
                                <a class="btn btn-warning" id="resetPass" th:attr="onclick=|emailing('${usuarios.email}')|">Reset Pass</a>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
function emailing(email){
    console.log("Enviando ...")
    $(document).ready(function(){

            $.post("[[${@environment.getProperty('uri.change_password_users')}]]",
            {
              client_id:"[[${@environment.getProperty('spring.security.oauth2.client.registration.auth0.client-id')}]]",
              email: email,
              connection: "Username-Password-Authentication"
            },
            function(data,status){
              alert("Respuesta: Solicitud de cambio de contraseña para... " + "\n" + email );
            });
    });
    console.log("Enviado ...")
}
</script>
<footer th:insert="includes/footer :: footer"> </footer>
</html>