<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <!--Export JavaScript -->
            <!--<button type="button" id="export_button" class="btn btn-outline-success">Exportar Excel</button>-->
            <!--Apacha POI -->
            <a th:href="@{/export/excel}" type="button" class="btn btn-outline-success">Exportar Excel</a>
            <a th:href="@{/admin}" class="btn btn-outline-danger">Atrás</a>
            <a th:href="@{/calc}" class="btn btn-outline-warning">Home</a>
        </div>
    </div>
    <h2 align="center">Reporte no Cotizados</h2><br>
    <div class="row" id="div-table">
        <table id="data_calc" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="width:120px">Fecha registro</th>
                <th scope="col">Referencia OEM</th>
                <th scope="col">Referencia SAMPA o DT</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Motivo</th>
                <th scope="col">Venta - (COP)</th>
                <th scope="col">Cantidad sugerida</th>
                <th scope="col">Marca sugerida</th>
                <th scope="col">Usuario</th>
                <th scope="col">Cliente</th>
                <th scope="col">Observaciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dataRegistryList, iter : ${dataRegistryList}">
                <th scope="row" th:text="${iter.index}+1"></th>
                <td th:text="${#strings.substring(dataRegistryList.datereg,8,10) + '-' + #strings.substring(dataRegistryList.datereg,5,7) + '-' + #strings.substring(dataRegistryList.datereg,0,4)}"></td>
                <td th:text="${dataRegistryList.refoem}"></td>
                <td th:text="${dataRegistryList.refsadt}"></td>
                <td th:text="${dataRegistryList.cant}"></td>
                <td th:text="${dataRegistryList.reason}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(dataRegistryList.cop, 0, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${dataRegistryList.cantsug}"></td>
                <td th:text="${dataRegistryList.brand}"></td>
                <td th:text="${dataRegistryList.user}"></td>
                <td th:text="${dataRegistryList.client}"></td>
                <td th:text="${dataRegistryList.obs}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="js/owner.js"></script>
<footer th:insert="includes/footer :: footer"> </footer>
</html>