<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/newProduct}" class="btn btn-outline-success">Agregar</a>
            <a th:href="@{/newProduct}" class="btn btn-outline-success">Subida Masiva</a>
            <a th:href="@{/admin}" class="btn btn-outline-danger">Atrás</a>
            <a th:href="@{/calc}" class="btn btn-outline-warning">Home</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Referencia</th>
                <th scope="col">Descripción</th>
                <th scope="col">Valor en dolares</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productList : ${productList}">
                <th scope="row" th:text="${productList.id}"></th>
                <td th:text="${productList.reference}"></td>
                <td th:text="${productList.description}"></td>
                <td th:text="'$' + ${productList.valueDollar}"></td>
                <td th:text="${productList.amount}"></td>
                <td>
                    <center>
                        <div class="btn-group">
                            <a href="#" th:text="Editar" class="btn btn-success"></a>
                            <a th:href="@{/delete(idProduct=${productList.id})}" class="btn btn-danger" th:text="Eliminar"></a>
                        </div>
                    </center>

                </td>
            </tr>
            </tbody>
        </table>
        <ul>
            Página actual <b><span th:text="${productList.number}+1"></span></b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            Total de paginas <b><span th:text="${productList.totalPages}"></span></b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            Total productos <b><span th:text="${productList.totalElements}"></span></b>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <a th:href="@{/adminProducts(pageNum=1)}">Inicio</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <a th:href="@{/adminProducts(pageNum= ${productList.hasPrevious()}?${productList.getNumber()}:1)}">Pagina anterior</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <a th:href="@{/adminProducts(pageNum= ${productList.hasNext()}?${productList.getNumber()}+2:${productList.totalPages})}">Siguiente página</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <a th:href="@{/adminProducts(pageNum= ${productList.totalPages} )}">Última página</a>
        </ul>
    </div>
</div>

<footer th:insert="includes/footer :: footer"> </footer>
</html>