<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4" sec:authorize="!isAuthenticated()">
            <a th:href="@{/calc}" class="btn btn-outline-success">Iniciar Sesion</a>
        </div>
        <div class="col col-md-12 text-right mb-4" sec:authorize="isAuthenticated()">
            <div>
                <a class="font-weight-bold" th:text="'Bienvenido: ' + ${profile.get('name')}"></a>
                <img th:src="${profile.get('picture')}" width="45" height="45" class="d-inline-block align-top rounded-circle" alt="" loading="lazy">
                <p class="owner-subtext" th:text="${profile.get('email')}"></p>
            </div>
            <div>
                <a th:href="@{/calc}" class="btn btn-outline-info">Home</a>
                <a th:href="@{/logout}" class="btn btn-outline-warning">Cerrar Sesión</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h4><span style="font-weight: bold;"> Bienvenido Administrador:</span> En este módulo puedes cambiar la información de la calculadora</h4>
        </div>
        <br><br>
        <div class="col-md-3  mb-4">
            <div class="card">
                <img src="https://cdn.dolarhoy.co/trm/avatar.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Módulo TRM $' + ${trm}"></h5>
                </div>
                <div class="card-footer text-muted">
                    <center><a th:href="@{/trm}" class="btn btn-success">Ingresar</a></center>
                </div>
            </div>
        </div>

        <div class="col-md-3  mb-4">
            <div class="card">
                <img src="https://static.wixstatic.com/media/dd88b4_57fae4203a4a4fda9fef44815e7c7281~mv2.png/v1/fill/w_282,h_280,al_c,q_85,usm_0.66_1.00_0.01/DIETER%20CORONA.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Módulo de productos</h5>
                </div>
                <div class="card-footer text-muted">
                    <center><a th:href="@{/adminProducts}" class="btn btn-success">Ingresar</a></center>
                </div>
            </div>
        </div>

        <div class="col-md-3  mb-4">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_960_720.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Módulo de Usuarios</h5>
                </div>
                <div class="card-footer text-muted">
                    <center><a th:href="@{/dataUsers}" class="btn btn-success">Ingresar</a></center>
                </div>
            </div>
        </div>

        <div class="col-md-3  mb-4">
            <div class="card">
                <img src="https://www.medysif.com/wp-content/uploads/2020/09/nocotizados.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reporte no Cotizados</h5>
                </div>
                <div class="card-footer text-muted">
                    <center><a th:href="@{/ulisted}" class="btn btn-success">Ingresar</a></center>
                </div>
            </div>
        </div>
    </div>

</div>
<footer th:insert="includes/footer :: footer"> </footer>
</html>