<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="loader-page">Cargando todos los productos, por favor espere... (Este proceso puede tardar más de 1 Minuto)</div>
<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/calc}" class="btn btn-outline-warning">Home</a>
        </div>
    </div>

    <div>
        <form th:action="@{/printProducts}" method="post">
            <h2>Calculo Masivo de productos</h2>
            <br>
            <h6>Seleccione la cantidad de productos que desee y de click en calcular valores:</h6>
            <br>
            <div class="form-group d-flex justify-content-between" >
                <select id="dropdown" name="description"  multiple data-live-search="true" required>
                </select>
                <center>
                    <button type="submit" class="btn btn-primary personality">Calcular Valores</button>
                </center>
            </div>
        </form>
    </div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.15/dist/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.15/dist/js/bootstrap-select.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.15/dist/js/i18n/defaults-es_ES.min.js"></script>
<script>
//Multiselect Search
$(document).ready(function() {
    var select = $("#dropdown");
    var init;
    var end;   //102489

    myFunct(0, 1000);

    function myFunct(init, end){
        console.log(end);
        $.ajax({
        url : 'api/getProductsLimit',
        data : {init, end},
        type : 'GET',
        dataType : 'json',
        success : function(json) {
            $(json).each(function(i, v){
                select.append('<option value="' + v.reference + '- ' + v.description + '- ' + v.amount + '- ' + v.importId + '- '  + '">' + v.id + ' - ' + 'Referencia: ' + v.reference + '- ' + '- Nombre: ' + v.description + '- Cantidad: ' + v.amount + '</option>');
            })

            //Asigna la clase selectpicker al id
            $('#dropdown').selectpicker();

            $(".loader-page").css({visibility:"hidden",opacity:"0"})
        },
        error : function(xhr, status) {
            $(".loader-page").css({visibility:"hidden",opacity:"0"})
            alert('Existe un problema');
        }
        });
     }

})
</script>

<footer th:insert="includes/footer :: footer"></footer>
</html>