<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error 404 - NOT FOUND</h5>
            </div>
            <div class="modal-body">
                <p  th:text="'Error 404 - NOT FOUND ' + ${#strings.substringAfter(error, '-')}  + ' Excepción: ' + ${error}  + ' Producto duplicado o no existe' " ></p>
            </div>
            <div class="modal-footer">
                <a th:href="@{/calc}"  class="btn btn-warning" data-dismiss="modal">Ir a Home</a>
            </div>
        </div>
    </div>
</div>
<footer th:insert="includes/footer :: footer"> </footer>
</html>