<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/calc}" class="btn btn-outline-warning">Inicio <i class="fas fa-home"></i></a>
        </div>

        <div class="container">
            <h2 align="center">Formulario de registro para productos NO COTIZADOS</h2><br>
            <div th:if="${add} == 'Agregado'" class="alert alert-success alert-dismissible fade show" role="alert" id="add">
                <strong>Exito!</strong> tu registro se agrego exitosamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="abs-center">
                <form th:action="@{/registryProduct}" class="border p-3 form" method="POST">
                    <div class="mb-3" >
                        <label for="datereg" class="form-label">Fecha de registro</label>
                        <b><p th:text="${dateFormat}"></p></b>
                        <input type="date" style="display:none" class="form-control" id="datereg" name="datereg" th:value="${date}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="user" class="form-label">Usuario</label>
                        <b><p th:text="${profile.get('name')}"></p></b>
                        <input type="hidden" class="form-control" id="user" name="user" th:value="${profile.get('name')}" >
                    </div>
                    <div class="mb-3">
                        <label for="refoem" class="form-label">Referencia OEM (Opcional)</label>
                        <input type="number" class="form-control" id="refoem" name="refoem" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="refsadt" class="form-label">Referencia SAMPA o DT</label>
                        <input type="text" class="form-control" id="refsadt" name="refsadt" required>
                    </div>
                    <div class="mb-3">
                        <label for="cant" class="form-label">Cantidad requerida por el cliente</label>
                        <input type="number" class="form-control" id="cant" name="cant" required value="0">
                    </div>
                    <div class="mb-3">
                        <label for="reason" class="form-label">Motivo</label>
                        <select class="form-control" id="reason" name="reason" required>
                            <option value="">Seleccione...</option>
                            <option th:each="dataFeaturesReason : ${dataFeaturesReason}" th:value="${dataFeaturesReason.value}" th:text="${dataFeaturesReason.value}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="cop" class="form-label">Precio objetivo de venta - (COP)</label>
                        <input type="number" class="form-control" id="cop" name="cop" onkeydown="noPointComa(event)" required>
                    </div>
                    <div class="mb-3">
                        <label for="cantsug" class="form-label">Cantidad sugerida a importar</label>
                        <input type="number" class="form-control" id="cantsug" name="cantsug" value="0" required>
                    </div>
                    <div class="mb-3">
                        <label for="brand" class="form-label">Marca sugerida a importar</label>
                        <select class="form-control" id="brand" name="brand" required>
                            <option value="">Seleccione...</option>
                            <option th:each="dataFeaturesBrand : ${dataFeaturesBrand}" th:value="${dataFeaturesBrand.value}" th:text="${dataFeaturesBrand.value}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="client" class="form-label">Cliente/Empresa</label>
                        <select class="form-control"  name="client" id="client" required>
                            <option value="">Seleccione...</option>
                            <option th:each="dataClients : ${dataClients}" th:value="${dataClients.company}" th:text="${dataClients.company}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="obs" class="form-label">Observaciones</label>
                        <textarea class="form-control" id="obs" name="obs" placeholder="Ingresa las observaciones" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success float-right">Agregar <i class="fas fa-plus"></i> </button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>

    function noPointComa(event) {
        var e = event || window.event;
        var key = e.keyCode || e.which;
        if ( key === 110 || key === 190 || key === 188 ) {
           e.preventDefault();
        }
    }

    $(document).ready(function() {
        setTimeout(function() {
            $("#add").fadeOut(4000);
        },4000);
    });
</script>
<footer th:insert="includes/footer :: footer"> </footer>
</html>