<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/calc}" class="btn btn-outline-warning">Inicio <i class="fas fa-home"></i></a>
            <a th:object="${dataproductdata}"  th:href="@{/detailImport(importId=${datastatic.id}, reference=*{reference})}" class="btn btn-outline-success">Atrás <i class="fas fa-chevron-left"></i></a>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12" >
            <center>
                <h1 th:object="${dataproductdata}" th:text="*{amount} > 1 ? 'Resultado de Cálculo para más de ' + *{amount} + ' Unidades' : 'Resultado de Cálculo para ' + *{amount} + ' Unidad'"></h1>
            </center>
            <form method="post">
                <div class="form-group" th:object="${dataproductdata}">
                    <label th:object="${datastatic}" for="reference" th:with="concept = *{concept}" th:text="'Número de Referencia' + ${#strings.substringAfter(concept, '-')}"></label>
                    <input type="text" class="form-control" th:value="' ' + *{reference} + ' - ' + *{description}" id="reference" placeholder="Valor en Pesos" disabled="true">
                </div>
                <div class="form-group" th:object="${dataproductdata}">
                    <input type="hidden" class="form-control" id="value_dollar" th:value="*{valueDollar}" placeholder="Precio en Dolares" disabled="true">
                </div>
               <div class="form-group" th:object="${datacalc}">
                    <input type="hidden" class="form-control" th:value="'$' + *{valueCopCast}" id="value_cop"  placeholder="Valor en Pesos " disabled="true">
                </div>
                <div class="form-group"  th:object="${datacalc}">
                    <input type="hidden" class="form-control" th:value="'$' + *{legalizationCast}" id="legalization"  placeholder="Legalizacion" disabled="true">
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="container mt-4 vj-destacados">
        <div class="row">
            <div th:object="${datacastresult}" class="col-md-4  mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> VIP </h5>
                        <p>
                            <a class="badge badge-warning" th:text="'$' + *{vipCast} + '.00'"></a>
                        </p>
                        <p class="card-text">Resultado VIP</p>
                    </div>
                </div>
            </div>

            <div th:object="${datacastresult}" class="col-md-4  mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Distribuidor </h5>
                        <p>
                            <a class="badge badge-warning" th:text="'$' + *{distributorCast} + '.00'"></a>
                        </p>
                        <p class="card-text">Resultado Distribuidor</p>
                    </div>
                </div>
            </div>

            <!--
            <div th:object="${datacastresult}" class="col-md-3  mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Consumidor </h5>
                        <p>
                            <a class="badge badge-warning" th:text="'$' + *{consumerCast} + '.00'"></a>
                        </p>
                        <p class="card-text">Resultado Consumidor</p>
                    </div>
                </div>
            </div>
            -->

            <div th:object="${datacastresult}" class="col-md-4  mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Precio Público </h5>
                        <p>
                            <a class="badge badge-warning" th:text="'$' + *{pricePublicCast} + '.00'"></a>
                        </p>
                        <p class="card-text">Resultado Precio Público</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer th:insert="includes/footer :: footer"> </footer>
</html>