<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/calc}" class="btn btn-outline-warning">Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" >
            <h1 th:object="${datastatic}" th:text="'Calcular Valores: ' + *{concept}"></h1>
            <form th:action="@{/detailImport}" method="get">
                <div class="form-group">
                    <input th:object="${datastatic}" type="hidden" class="form-control" id="importId" name="importId" th:value="*{id}">
                </div>
                <div class="form-group">
                    <label th:object="${datastatic}" for="reference" th:with="concept = *{concept}" th:text="'Buscar solo por referencia - ' + ${#strings.substringAfter(concept, '-')}"></label>
                    <input type="text" class="form-control" id="reference" name="reference" placeholder="Buscar producto" >
                    <br>
                    <div th:if="${err}" class="alert alert-danger" role="alert">
                        No se encuentra serial o numero de parte por favor verifica nuevamente
                    </div>
                </div>
                <center>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </center>
            </form>
        </div>
    </div>
</div>
<footer th:insert="includes/footer :: footer"> </footer>
</html>