<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/dataClients}" class="btn btn-outline-danger">Atrás</a>
            <a th:href="@{/calc}" class="btn btn-outline-warning">Home</a>
        </div>
    </div>
    <div class="container">
        <h2 align="center">Datos de Cliente</h2>
        <div th:if="${exist} == 'Existe'" class="alert alert-warning alert-dismissible fade show" role="alert" id="exist">
            <strong>Existente!</strong> El registro existe, por favor verifique el NIT.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${edit} == 'Editado'" class="alert alert-success alert-dismissible fade show" role="alert" id="edit">
            <strong>Exito!</strong> Guardado exitosamente.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="abs-center">
        <form th:action="@{/saveClients}" class="border p-3 form" method="POST">
            <div class="mb-3">
                <input type="hidden" class="form-control" id="id" name="id" th:value="${dataClients.id}" readonly>
                <input type="hidden" class="form-control" name="operation" value="add">
                <label for="nit" class="form-label">NIT</label>
                <input th:if="${not #strings.isEmpty(dataClients.nit)}" type="text" class="form-control" id="nit" name="nit" th:value="${dataClients.nit}">
                <input th:if="${#strings.isEmpty(dataClients.nit)}" type="text" class="form-control" name="nit" id="nitInput">
            </div>
            <div class="mb-3">
                <label for="company" class="form-label">Compañia</label>
                <input th:if="${not #strings.isEmpty(dataClients.company)}" type="text" class="form-control" id="company" name="company" th:value="${dataClients.company}">
                <input th:if="${#strings.isEmpty(dataClients.company)}" type="text" class="form-control" name="company" id="companynput">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input th:if="${not #strings.isEmpty(dataClients.email)}" type="text" class="form-control" id="email" name="email" th:value="${dataClients.email}">
                <input th:if="${#strings.isEmpty(dataClients.email)}" type="text" class="form-control" name="email" id="emailInput">
            </div>
            <div class="mb-3">
                <label for="clientname" class="form-label">Nombre Cliente</label>
                <input th:if="${not #strings.isEmpty(dataClients.clientname)}" type="text" class="form-control" id="clientname" name="clientname" th:value="${dataClients.clientname}">
                <input th:if="${#strings.isEmpty(dataClients.clientname)}" type="text" class="form-control" name="clientname" id="clientnameInput">
            </div>
            <div class="mb-3">
                <label for="cellphone" class="form-label">Teléfono</label>
                <input th:if="${not #strings.isEmpty(dataClients.cellphone)}" type="text" class="form-control" id="cellphone" name="cellphone" th:value="${dataClients.cellphone}">
                <input th:if="${#strings.isEmpty(dataClients.cellphone)}" type="text" class="form-control" name="cellphone" id="cellphoneInput">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Dirección</label>
                <input th:if="${not #strings.isEmpty(dataClients.address)}" type="text" class="form-control" id="address" name="address" th:value="${dataClients.address}">
                <input th:if="${#strings.isEmpty(dataClients.address)}" type="text" class="form-control" name="address" id="addressInput">
            </div>
            <div class="mb-3">
                <label for="web" class="form-label">WEB</label>
                <input th:if="${not #strings.isEmpty(dataClients.web)}" type="text" class="form-control" id="web" name="web" th:value="${dataClients.web}">
                <input th:if="${#strings.isEmpty(dataClients.web)}" type="text" class="form-control" name="web" id="webInput">
            </div>

            <div class="mb-3">
                <label for="type" class="form-label">Tipo</label>
                <select class="form-control" name="type" id="type" required>
                    <option value="normal">Normal</option>
                    <option value="vip">VIP</option>
                    <option value="consumer">Consumidor</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success float-right">Guardar</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $("#edit").fadeOut(2000);
        },2000);
    });
</script>
<footer th:insert="includes/footer :: footer"> </footer>
</html>